.el-tree
  color #999!important
  .el-tree-node:focus>.el-tree-node__content
    background none

  .el-tree-node__content:hover
    background none

  .el-tree-node__content:active
    background none

  .el-tree-node__content
    height auto
    align-items flex-start

.el-select
  width 100%
.el-cascader
  width 100%

.el-input__inner[type="number"]
  padding 0 0 0 20px

