// 颜色定义规范
$color-background = #375484
$color-background-button = #202F49
$color-background-select = rgba(28, 49, 75, 0.3)
$color-text = #fff
$color-text-title = #eee
$color-text-desc = #ddd
$color-border-b = #303947
$color-border-b-normal = #5ea8d7
$color-border-b-test = #e9961f
$color-border-b-fault = #999
$color-border-b-alarm = #ed3f3f
$color-header-b-normal = #D5D5D5
$color-text-tile-project = #3ABFCF
$color-text-tile-complete = #3ACF76
$color-text-tile-fault = #CFB53A
$color-text-tile-state = #666666
$color-text-tile-state-two = #bf6d38
$color-text-tile-handle = #999999
$color-background-query = #3279a6
$color-background-newly = #3292a6
$color-background-introduce = #3263a6
$color-border-list = #2e343f


//字体定义规范
$font-size-small-s = 12px
$font-size-small = 14px
$font-size-medium = 16px
$font-size-medium-x = 18px
$font-size-large = 20px
$font-size-large-x = 30px

// 保存按钮
conserve()
    display inline-block
    width 107px
    border-radius 5px
    height 36px
    text-align center
    line-height 36px
    background $color-background-query
    transition .2s
    color $color-text
    cursor pointer
    &:hover
      background: #4b92bf;
// 关闭/取消 按钮
closedown()
    display inline-block
    cursor pointer
    color $color-text
    width 107px
    height 36px
    background $color-background
    border-radius 5px
    text-align center
    line-height 36px
    transition .2s
    &:hover
      background #29374f
// 审核按钮
examine()
  display inline-block
  width 107px
  border-radius 5px
  height 36px
  text-align center
  line-height 36px
  background #32a692
  transition .2s
  cursor pointer
  &:hover
    background: #4fc0ad;
// 文字不能选中
prohibit()
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
// 默认初始化
init()
  width 100%
  overflow hidden
  position relative
// 导航图片
headerRouter(item)
  display: block;
  margin: 6px auto 6px;
  width 44px
  height 44px
  background url(item) no-repeat
  background-size cover
